@tailwind base;
@tailwind components;
@tailwind utilities;

/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/* Global Styles */
@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply font-inter bg-gray-100 text-gray-800 dark:bg-gray-900 dark:text-gray-100;
    /* Default font and theme styles */
  }
}

/* Light and Dark Theme Scrollbar Variables */
:root {
  --scrollbar-bg: #f9b385;
  /* Subtle light orange for the track */
  --scrollbar-thumb: #f5a063;
  /* Muted orange for the thumb */
  --scrollbar-thumb-hover: #e68a4e;
  /* Slightly darker orange for hover */
}

.dark {
  --scrollbar-bg: #374151;
  /* Tailwind's bg-gray-700 for dark mode */
  --scrollbar-thumb: #4b5563;
  /* Slightly lighter gray for the thumb */
  --scrollbar-thumb-hover: #6b7280;
  /* Hover effect for dark mode */
}

/* Scrollbar Styling */
::-webkit-scrollbar {
  width: 10px;
  /* Scrollbar width */
  height: 10px;
  /* Scrollbar height for horizontal scroll */
}

::-webkit-scrollbar-track {
  background: var(--scrollbar-bg);
  /* Background of the scrollbar track */
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb);
  /* Scrollbar thumb color */
  border-radius: 5px;
  /* Rounded corners for the thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-thumb-hover);
  /* Hover effect for the thumb */
}